doctype html
html 
    head
        title Juilliard School
        block scripts 
        block style
    body  
        header 
            nav#navbar
                ul
                    li
                        a.ass(href="/")
                            | Juilliard
                    li #[a(href="/") Home]
                    li #[a(href="/") Dance ]
                    li #[a(href="/") Drama ]
                    li #[a(href="/") Music]
                    li #[a(href="/") Admissions ]
                    li #[a(href="/") Campus Life] 
                    li #[a(href="/") On Stage And Beyond ]
                    li #[a(href="/") About Us ]
                    li #[a(href="/contact") Contact Us]
        block content 
        footer
            | Copyright  ©  Juliana School 2022-23 | All Rights Reserved

